body{
    background: silver;
	font-family: "Trebuchet MS", Verdana, Geneva, Arial;
	
}
#header{
    padding-top: 50px;
    background: gold;
	padding-left: 1000px;
	position:relative;
	top:-10px
}
#content{
    background: #fff;
    padding: 20px;
}
#footer{
    background: gold;
    padding: 60px;    
}
h1, h2, h3 {
	margin: 0em;
	padding: 0em;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}
a {
	color: darkgrey;
}


